<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.raf.rsrafprojekatjunstefan_karaferovic_rn7719">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.EventsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/events_app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rsrafprojekatjunstefan_karaferovic_rn7719">
        <activity android:name=".presentation.view.activities.ShowActivitiesActivity"></activity>
        <activity android:name=".presentation.view.activities.AddEventActivity" />
        <activity android:name=".presentation.view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>